@import 'ant-design-vue/dist/antd.less';

@primary-color: #48c78e; // primary color for all components
@border-radius-base: 3px;

.is-rounded {
    border-radius: 15px;
}

// border-radius: $radius-rounded
