// @import 'ant-design-vue/dist/antd.less';

@primary-color: #51be8d; // primary color for all components
@border-radius-base: 3px;


// Custom classes
.is-rounded {
    border-radius: 15px;
}

.preserve-whitespace {
    white-space: pre-wrap
}

.full-width {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.font-weight-bold {
    font-weight: bold;
}

.anticon-info-circle {
    color: rgba(0, 0, 0, 0.45)
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

// border-radius: $radius-rounded
